brotli==1.0.9
cryptography==3.4.7
Cython==0.29.23
docutils==0.17.1
importlib_metadata==4.4.0
keyring==23.0.1
lockfile==0.12.2
lxml==4.6.3
mock==4.0.3
numpy==1.20.3
ordereddict==1.1
protobuf==3.17.1
pyOpenSSL==20.0.1
simplejson==3.17.2
typing_extensions==3.10.0.0
wincertstore==0.2
zipp==3.4.1
